.headers{
  padding:10px;
  background-color:#f6f6f6;
  color:#51585c;
  border-radius:3px 3px 0 0;
  a{
    color:#666;
  }
  span{
    color:#444;
  }
  b{
    font-weight:normal;
    margin:0 6px;
  }
}
